form{
    
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #25273D;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
    height: 64px;
   
}

form input, button{
    background: transparent;
    border: none;
    color: #C8CBE7;
    outline: none;

    font-size: 20px;
}




form button{
    width: 24px;
    height: 24px;
   
    margin-left: 1em;
    margin-right: 1em;
    
    border: 0.1px solid #393A4B;
    border-radius: 50%;
}
