
.app{
        display: grid;
        grid-template-columns: 540px;
        grid-template-rows: 100px 450px 64px;
        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
        border-radius: 5px; 
     
}


.tasks{
        background: #25273D;
        overflow: scroll;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

h2{
        
        font-family: Josefin Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 15px;
        color: #FFFFFF;
   
}

@media (max-width:600px){
 .App{
         width: 100%;
 }

 .app{
        display: grid;
        grid-template-columns: 100%;
        margin-left: 20px;
        margin-right: 20px;
       
}

h2{
        margin-left: 20px;
        margin-right: 20px;  
}

}